.section{ 
    height: 100vh;
}
.scrollPage .nav-link{
    position: relative;
}
.scrollPage .nav-link:after{
    content: "";
    position: absolute;
    display: block;
    width:0;
    margin:auto;
    bottom:0;
    left:0;
    right:0;
    height:3px; 
    background-color: red;
    transition: 0.5s; 
    margin-top: 7px;   
}
.scrollPage .nav-link.active:after{   
    width:100%;     
}